
::-webkit-scrollbar {
  display: none;
}

.container {
  background-color: #FFFFFF;
  margin-top: 2vh;
  margin-left: 27%;
  margin-right: 27%;
  border-radius: 1.5em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container2 {
  display: block;
  overflow-y: scroll;
  height: 80vh;
  padding-top: 25px;
  padding-left: 15%;
  padding-right: 15%;
}

.task-label {
  width: 65%;
  display: inline-block;
  word-wrap: break-word;
}

/* убрать */
li * {
  float: left;
}

li, h3, summary {
  clear:both;
  list-style:none;
}

input, button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  cursor: pointer;
}

button:hover {
  color: #333;
}

h3,
summary,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.add-container {
  text-align: center;
}

input[type="text"] {
  width: 69%;
  font-size: 18px;
  line-height: 18px;
  height: 35px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  color: #888;
 }

.input-add-task:focus {
  color: #333;
}

/* New Task */
label[for='new-task'] {
  display: block;
}


/* > переписать */
p > button:hover {
  color: #0FC57C;
}

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 300px;
  padding: 0 0 0 11px;
}

li > .delete:hover {
  color: #CF2323;
}

#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}

summary:focus {
  outline: 0;
}

summary {
  cursor: pointer;
}