.container {
  background-color: #FFFFFF;
  margin-top: 2vh;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 40px;
  border-radius: 1.5em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.color-picker {
  margin-top: 15px;
}

.box {
  cursor: pointer;
  height: 50px;
  text-align: left;
}

.wrapper {
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  height: 70vh;
  overflow-y: scroll;
}

.time {
  font-size: 1.5vw;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
}

.date {
  padding-top: 2vh;
  text-align: center;
}

.btn {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #79D6D6;
}

@media (max-width: 990px) {

  .container {
    margin-top: 4vh;
    margin-left: 2%;
    margin-right: 2%;
  }    

  .modal {
    transform: scale(1.5);
  }
}